<%- include('partials/head') %>
  <main class="content">
    <h1 class="content-title">Tous les sites</h1>
    <section class="segment">
      <h2 class="segment-title">Toutes les tomates</h2>
      <div class="card-container">
      <p><%= error.message %></p>
      </div>
<%- include('partials/footer') %>